body {
  background: #FFF275;
}

.header{
  background-color: #A23E48;
}

body{
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.search-name, .search-attack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  padding: 20px;
  
}

.poke-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  justify-content: space-around;
  align-items: center;

}

.poke-card {
  width: 200px;
  height: 350px;
  border: 1px solid black;
  background-color: white;
  margin: 20px;
  padding: 20px;
}

img {
  width: 150px;
}
